<div class="container text-center mt-5">
    <div class="row">
        <div class="col">
            <div class="bus">
                <div class="seats-container">
                    <div class="seat" id="seat1" (click)="seatClicked(1)">1</div>
                    <div class="seat" id="seat2" (click)="seatClicked(2)">2</div>
                    <div class="seat" id="seat3" (click)="seatClicked(3)">3</div>
                    <div class="seat" id="seat4" (click)="seatClicked(4)">4</div>
                    <div class="seat" id="seat5" (click)="seatClicked(5)">5</div>
                    <div class="seat" id="seat6" (click)="seatClicked(6)">6</div>
                </div>

                <div class="seats-container2">
                    <div class="seat" id="seat7" (click)="seatClicked(7)">7</div>
                    <div class="seat" id="seat8" (click)="seatClicked(8)">8</div>
                    <div class="seat" id="seat9" (click)="seatClicked(9)">9</div>
                    <div class="seat" id="seat10" (click)="seatClicked(10)">10</div>
                    <div class="seat" id="seat11" (click)="seatClicked(11)">11</div>
                    <div class="seat" id="seat12" (click)="seatClicked(12)">12</div>
                </div>

                <div class="seats-container3">
                    <div class="seat" id="seat13" (click)="seatClicked(13)">13</div>
                    <div class="seat" id="seat14" (click)="seatClicked(14)">14</div>
                    <div class="seat" id="seat15" (click)="seatClicked(15)">15</div>
                    <div class="seat" id="seat16" (click)="seatClicked(16)">16</div>
                    <div class="seat" id="seat17" (click)="seatClicked(17)">17</div>
                    <div class="seat" id="seat18" (click)="seatClicked(18)">18</div>
                </div>
                <div class="seats-container4">
                    <div class="seat" id="seat19" (click)="seatClicked(19)">19</div>
                    <div class="seat" id="seat20" (click)="seatClicked(20)">20</div>
                    <div class="seat" id="seat21" (click)="seatClicked(21)">21</div>
                    <div class="seat" id="seat22" (click)="seatClicked(22)">22</div>
                    <div class="seat" id="seat23" (click)="seatClicked(23)">23</div>
                    <div class="seat" id="seat24" (click)="seatClicked(24)">24</div>
                </div>
            </div>
        </div>
        <div class="col">
     
              
        </div>
    </div>
</div>
